<div class="alert alert-success" role="alert" style="text-align: center;">
    <img src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2020/07/20/15952675327497.jpg" class="flag" alt="">
    {{info.title}}
  <a href={{info.apiWeb}} target="_blank" class="alert-link">REST COUNTRIES</a>
</div>

<div class="container center">
  <br />
  <img src="https://cdn.pixabay.com/photo/2016/04/01/22/55/countries-1301799_1280.png" class="main-img"
    alt="Image not found">
  <br />
  <br />
  <p>{{info.instruction}}</p>
  <br />

  
  <app-my-component></app-my-component>
</div>